@import '../App.css';

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

hr {
  width: 95%;
  margin: auto !important;
}

.card-grid {
  margin: 5em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 48px;
}

.card {
  background-color: var(--light-color2);
  border: 2px solid var(--light-color2);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 0 0 10px rgba(10, 9, 12, 0.50);

  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover {
  transform: scale(1.025);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
}

.card-img {
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card-title {
  text-align: center;
  padding-top: .50rem;
}

.card-body{
  padding: 0rem 0rem !important;
  height: 450px;
}

.card-body:hover {
  display: block;
  -webkit-line-clamp: none;
  -webkit-box-orient: none;
  overflow: visible;
}

.kotodummy-rarity {
  text-align: right;
  padding-top: .25rem;
}

.kotodummy-stage {
  padding-top: .25rem;
}

.kotodummy-personalities {
  padding-left: 1em;
}

.personality {
  margin: auto;
  width: 15%;
  padding: 2px;
}

.row {
  width: 95%;
  margin: auto !important;
}

.kotodummy-description {
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
}